:root {
  --color-bg-main: #161616;
  --color-text-main: #ededed;
  --color-text-sub: #7e7e7e;
  --border-radius-base: 2px;
  --border-radius-full: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--color-bg-main);
  color: var(--color-text-main);
  overflow-x: hidden;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}
