---
import ArticleCard from "@/components/ArticleCard.astro";
import Layout from "@/layouts/Layout.astro";
import { getArticles, getCategories, getCategory } from "@/libs/api";

export async function getStaticPaths() {
  const res = await getCategories({ fields: ["id"] });
  return res.contents.map((content) => ({
    params: {
      slug: content.id,
    },
  }));
}

const { slug } = Astro.params;
const category = await getCategory(slug);
const articles = await getArticles({ filters: `category[equals]${slug}` });
---

<Layout title="記事一覧 - hiro08.com">
  <div class="flex flex-col gap-20">
    <h2 class="text-2xl text-neutral-100">
      {category.name}
      {
        articles.contents.length != 0 && (
          <span>({articles.contents.length})</span>
        )
      }
    </h2>

    <div class="flex flex-col gap-4">
      {articles.contents.map((article) => <ArticleCard article={article} />)}
    </div>
  </div>
</Layout>
