@import "tailwindcss";

:root {
  --primary-color: #0017c1;
  --focus-color: #2a40e2;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #FFFFFF;
  color: #333333;
  font-family: '"Noto Sans JP",-apple-system,blinkmacsystemfont,"Segoe UI","Hiragino Kaku Gothic ProN","BIZ UDPGothic",meiryo,sans-serif';
  line-height: 1.8;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:focus {
  outline: 2px var(--focus-color) solid;
  outline-offset: 0.2em;
}

img {
  border-radius: 3px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.post h1, h2 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.post h3 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.post h1, h2, h3, h4, h5 {
  font-weight: 700;
}

.post ul {
  list-style-type: disc;
}

.post li {
  margin-left: 1rem;
}

.post blockquote {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
}

.post blockquote::before {
  content: '';
  display: block;
  height: auto;
  width: 0.75rem;
  max-width: 2px;
  background-color: rgb(209 213 219);
}

.post blockquote p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.post iframe {
  width: 100%;
}

.hljs {
  background-color: #f8f8f8!important;
  font-size: 14px;
  padding: 1.5em!important;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}