@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #0017c1;
  --focus-color: #2a40e2;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #FFFFFF;
  color: #333333;
  font-family: '"Noto Sans JP",-apple-system,blinkmacsystemfont,"Segoe UI","Hiragino Kaku Gothic ProN","BIZ UDPGothic",meiryo,sans-serif';
  line-height: 1.8;
}

a {
  color: var(--primary-color);
  text-decoration: underline;
}

a:focus {
  outline: 2px var(--focus-color) solid;
  outline-offset: 0.2em;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.post h1, h2 {
  @apply text-3xl;
}

.post h3 {
  @apply text-xl;
}

.post h1, h2, h3, h4, h5 {
  @apply font-bold;
}

.post ul {
  @apply list-disc;
}

.post li {
  @apply ml-4;
}

.post blockquote {
  @apply flex flex-row gap-5 before:block before:h-auto before:w-3 before:max-w-[2px] before:bg-gray-300 before:content-[''];
}

.post blockquote p {
  @apply mt-4 mb-4;
}

.hljs {
  background-color: #f8f8f8!important;
  font-size: 14px;
  padding: 1.5em!important;
}