.container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2.5rem;
}

.row {
  display: flex;
  align-items: center;
}

.image {
  border-radius: 100%;
}

.name {
  font-size: 16px;
  line-height: 1;
  margin-right: 16px;
}

.description {
  color: var(--color-text-sub);
  line-height: 1;
}