---
interface Props {
  title: string;
}

const { title } = Astro.props;
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import "@/styles/base.css";
import "@/styles/post.css";
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="mx-auto flex min-h-screen max-w-[772px] flex-col gap-9 bg-neutral-950 px-10 py-8 text-sm text-neutral-400 md:gap-20 md:py-16"
  >
    <Header />
    <slot />
    <Footer />
  </body>
</html>
